<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/"><p style="font-family: "Comic Sans MS", cursive, sans-serif">Amazon</p></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category</a>
              <ul class="dropdown-menu">
                <% for(i=0 ; i<categories.length ; i++){ %>
                <li class="text-center"><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
                <% } %>
              </ul>
            </li>

            <% if(!user){ %>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup/Login</a>
              <ul class="dropdown-menu">
                <li class="text-center"><a href="/login">Login</a></li>
                <li class="text-center"><a href="/signup">Sign Up</a></li>
              </ul>
            </li>
            <% }else{ %>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
              <ul class="dropdown-menu">
                <li class="text-center"><a href="/profile">Profile</a></li>
                <li class="text-center"><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <% } %>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>