<% layout('boilerplate.ejs') %>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="navbar-gap">
      <div class="container">
        <h1>Amazing Offers just at Amazon </h1>
        <p>Sign Up for Free! Prime membership for 1 year for free</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Amazon is one of the best</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .</p>
        </div>
        <div class="col-md-4">
          <h2>Amazon is one of the best</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .</p>
       </div>
        <div class="col-md-4">
          <h2>Amazon is one of the best</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .</p>
        </div>
      </div>